@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="centered" id="divSelection">
    <div id="selectBox"></div>
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <ul id="selectOptionsBox">
        <li>White</li>
        <li>Orange</li>
        <li>Green</li>
        <li>Blue</li>
        <li>Red</li>
    </ul>
</div>
